
 /*****CONTACT MAIN CONTENT******/

#name, #_replyto, #message {
        display: block;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        width: 600px;
}
#message {
        height: 300px;     
}

 .contact-box {
       

 }

 #email-form {
         
 }
 .form-label{
     background-color:  #F4DBDB;
     color: #000;
     font-size: 1rem;
 }


 input[type=submit] {
        background-color: #0F9B9B;
        color: white;
        padding: 12px 20px;
        border-radius: 30px; 
        padding: 10px;
      }
 input[type=submit]:hover {
        background-color: #F4DBDB;
        border-radius: 30px; 
        padding: 10px;
        cursor: pointer;
        color: darkblue;
      }

