
 /*****CONTACT MAIN CONTENT******/

#name, #_replyto, #message {
        display: block;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-self: center;
        width: 600px;
}
#message {
        height: 300px;
}

 #email-form input [type = "text"]
 {
     background-color:  #00C5BE;
     color: #000;
   
 }
 .container {
   
 }

 .container label {


 }