/* menu bar area drop down*/
  
.Navbar {
    background-color: $white-color;
    display: flex;
    padding: 16px;
  }

  .Navbar__Link {
    padding-right: 8px;
    list-style: none;
    
  }
  .Navbar__Link-brand img {
    width: 50px;
  }

  .Navbar__Items {
    display: flex;
    text-decoration: none;
  }
  .item {
    color: $text-color;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 50px;
    padding: 10px;
    color: $heading-color;
  }
.item:hover {
    background-color: $alternate-color;
    border-radius: 30px; 
    padding: 10px;
    cursor: pointer;
    color: $hover-color;
    transition: width 1s ease;
  }
  
/*****NAV BAR ANIMATION**
  nav ul li {
    margin: 0px 50px 0px 0px;
    padding: 10px;
    --c: goldenrod; color: var(c); font-size: 16px;
    border: 0.3em solid var(c); border-radius: 0.5em;
    width: 12em; height: 3em; text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em; text-align:center; line-height: 3em;
    position: relative; overflow: hidden; z-index: 1;
    transition: 0.5s; margin: 1em;
  }
  
  nav ul li span {
    position: absolute; width: 25%; height: 100%;
    background-color: var(-c); transform: translateY(150%);
    border-radius: 50%; left: calc((var(--n) -1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) -1) * 0.1s);
    z-index: -1;
  }

  nav ul li:hover { color:black; }

  nav ul li:hover span { transform: translateY(0) scale(2);}
  nav ul span:nth-child(1) { --n: 1: }
  nav ul span:nth-child(2) { --n: 2: }
  nav ul span:nth-child(3) { --n: 3: }
  nav ul span:nth-child(4) { --n: 4: }
/*****NAV BAR ANIMATION**/

  .Navbar__Items--right {
    margin-left:auto;
    text-decoration: none;
  }
  
  .Navbar__Link-toggle {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
      text-decoration: none;
    }
    .Navbar__Items {
      display:none;
    }
    .Navbar__Items--right {
      margin-left:0;
      text-align: center;
    }
    .Navbar__ToggleShow {
      display: flex;
    }
    .Navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     } 

     .fa-bars{
      font-size: 25px;   
      margin-top: 5px;   
     }
     .item {
        color: $text-color;
        background-color: $white-color;
        text-decoration: none;
        display: flex;
        justify-content: center;
        width: 100%;  /*****EDIT THIS FOR BETTER NAV BAR**/
      }
  }