// create variables
/*$section-bkgd-color: aqua;
$hover-color: green;
$accent-color: red;*/

$alternate-color: #F4DBDB;
$heading-color: #0F9B9B;
$hover-color: darkblue;
$text-color: black; 
$white-color: white;
$heading-font-family: 'Open Sans', sans-serif;
$body-font-family: 'Poppins', sans-serif;
