@import 'partials/nav';
@import 'partials/homebackground';
@import 'partials/homecontent';
@import 'partials/footer';


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
} 

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.1fr auto 0.1fr;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/* Mobile menu */
header {
    background-color: white;
    position: fixed;
    height: 70px;
    width: 100%;
}

header img {
    width: 2.5em; 
}